<!--Logout Modal -->
<div class="modal fade" id="LogoutModal" tabindex="-1" role="dialog" aria-labelledby="LogoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="LogoutModalLabel">Logout?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        Are you sure you want to logout?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"><a href="/loginsystem/logout.php" style="color:white;"> Logout </a></button>
        </div>
        </div>
    </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="AboutModal" tabindex="-1" role="dialog" aria-labelledby="AboutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgb(139, 184, 216); color: white; text-shadow: 1px 1px black;">
        <div class="modal-header">
            <h5 class="modal-title" id="AboutModalLabel"><b> About Us </b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <h5>This is an Online Chatroom System</h5>
                <p>Users can: <ul>
                        <li>Sign Up</li>
                        <li>Log In</li>
                        <li>Create and Join Chatrooms</li>
                    </ul>
                </p>
                <hr>
                <h5><b>Terms and Conditions</b></h5>
                <p><i> We are not responsible for <ol> <li> any Access and retain information stored in your account, like your email</li>
                    <li> View statistics regarding your account, like how many apps you install</li>
                    <li> Change your account password </li>
                    <li> Suspend or terminate your account access </li>
                    <li> Receive your account information in order to satisfy applicable law, regulation, legal process, or enforceable governmental request </li>
                    <li> Restrict your ability to delete or edit your information or your privacy settings </li>
                </ol></i> </p>              
        </div>
    </div>
</div>